<div class="container">
    <form class="form-signin" action="/users" method="GET">
        <img class="mb-4" src="/images/cake.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Email address" required
            autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button onclick="myFunc()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    </form>
</div>

<script>
    localStorage.setItem('token', data.token);

    function myFunc() {
        var token = JSON.parse(localStorage.getItem('token'));
        console.log(`Authorization=Bearer ${token}`)
        fetch('/users', {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + token
            }
        })
            .then(res => res.json())
            .then(data => {
                console.log(data)
            })
    }
</script>